.Heroo{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroo--text{
  width: 60%;
  height: 100%;
  position: relative;

}
.heroo--imgtext{
  width: 90%;
  height: 75%;
  transform: translate(5%,10%);
}
.heroo--imgdiv{
  position: relative;
  width: 40%;
  height: 100%;
}
.heroo--img{
  width: 100%;
  height: 100%;
  transform: translate(-5%,-5%);
}
@media all and (max-width: 704px){
  .Heroo{
    flex-direction: column-reverse;
  }
.heroo--text{
    width: 100%;
    height: 50%;
  }
.heroo--imgdiv{
    width: 60%;
    height: 50%;
  }
}