form{
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    padding-top: 10vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.audio-controls{
    width:100vh;
    height: 50vh;
    background-color: antiquewhite;
}
.btnStartRecording, .btnStopRecording{
    margin: 50px;
    color: white;
    background-color: rgba(234,76,137,1);
    padding: 20px 10px ;
    font-size: 20px;
    font-weight: bold;
}
