@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400&display=swap');
.main_section{
    width: 100vw;
    height: 50vh;
    background-color: #c19de7;
    display: flex;
    flex-direction: row;
    line-height: 2vw;
}
.leftSection{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    padding-left: 2vw;
    font-size: 1.5vw;
    font-family: verdana;
}
.leftSection p{
    color: #f5f1f8;
    text-align: center;
    font-size: 1.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.leftSection_head{
    color: #f5f1f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.3vw;
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.rightSection{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
/* 11 */


  
  
  