.testform{
  width: 40vw;
  height: 80vh;
  /* background-color: #C19DE7; */
  /* margin: 50px auto; */
  z-index: 200;
  margin-top: 2vh;
  color: #FFFFFF;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  position: fixed;
  background: white;
   /* border:2px solid yellow; */
  border-radius: 30px;
  /*box-shadow: 0px 0px 3px rgb(19, 24, 39); */
  /* margin: auto; */
  backdrop-filter: blur(2rem);
  background: linear-gradient(91.31deg, #5E00C0 0.56%, #A67AD6 101.54%);
  left: 30vw;
  opacity: 1;
  /* transform: scale(0.4); */
  /* transition: opacity 3s ease-in; */


}
.testform .Name,
.testform .Age{
  font-size: 24px;
  width: 80%;
  height: 40px;
  border: none;
  color: #ffffffce;
  background-color: transparent;
  border-bottom: 2px solid white;
  transition: all 0.15s;
  box-sizing: border-box;
}
.testform .button{
  color: #8114f6;
  background-color: #FFFFFF;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 16px;
  font-size: 23px;
  text-decoration: none;
  text-align: center;
}
.testform .Name:focus,
.testform .Age:focus {
  outline: none;
  color: #ffffff;
  border-bottom: 4px solid white;
}
.testform .Gender{
  border-bottom: 2px solid white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.testform .Gender input[type='radio']:checked{
  accent-color: #7917e3;
}
.testform input::placeholder{
  color: #FFFFFF;
}
.testform .Gender label{
  padding: 2px 8px;
  border-radius: 16px;
  font-size: 18px;
}
.testform .Gender label:hover{
  background-color: #8c74a4;
}
@media all and (max-width: 1200px){
  .testform{
    width: 350px;
    height: 80vh;
    font-size: 18px;
  }
  .testform .Name,
  .testform .Age{
    font-size: 18px;
    width: 80%;
    height: 40px;
  }
  .testform .button{
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
  .testform .Gender{
    border-bottom: 2px solid white;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .testform .Gender label{
    padding: 2px 8px;
    border-radius: 16px;
    font-size: 14px;
  }
  .testform .sex{
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 750px){
  .testform{
    width: 100%;
    height: 80vh;
    font-size: 18px;
    /* margin-left: 0; */
    left: 0;
  }
}