.testform{
  width: 600px;
  height: 80vh;
  background-color: #C19DE7;
  margin: 50px auto;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  position: relative;
}
.testform .Name,
.testform .Age{
  font-size: 24px;
  width: 80%;
  height: 40px;
  border: none;
  color: #ffffffce;
  background-color: #C19DE7;
  border-bottom: 2px solid white;
  transition: all 0.15s;
  box-sizing: border-box;
}
.testform button{
  color: #C19DE7;
  background-color: #FFFFFF;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 16px;
  font-size: 18px;
}
.testform .Name:focus,
.testform .Age:focus {
  outline: none;
  color: #ffffff;
  border-bottom: 4px solid white;
}
.testform .Gender{
  border-bottom: 2px solid white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.testform .Gender input[type='radio']:checked{
  accent-color: #7917e3;
}
.testform input::placeholder{
  color: #FFFFFF;
}
.testform .Gender label{
  padding: 2px 8px;
  border-radius: 16px;
  font-size: 18px;
}
.testform .Gender label:hover{
  background-color: #8c74a4;
}
@media all and (max-width: 685px){
  .testform{
    width: 350px;
    height: 80vh;
    font-size: 18px;
  }
  .testform .Name,
  .testform .Age{
    font-size: 18px;
    width: 80%;
    height: 40px;
  }
  .testform button{
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
  .testform .Gender{
    border-bottom: 2px solid white;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .testform .Gender label{
    padding: 2px 8px;
    border-radius: 16px;
    font-size: 14px;
  }
  .testform .sex{
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 351px){
  .testform{
    width: 100%;
    height: 80vh;
    font-size: 18px;
  }
}